.form {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.searchBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px; // Limit the width for larger screens
  margin: 0 auto; // Center the search bar
  padding: 0.5rem; // Padding for better touch targets on mobile
  border: 1px solid #ccc; // Border for better visibility
  border-radius: 5px; // Rounded corners
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Subtle shadow

  @media (max-width: 600px) {
    flex-direction: column; // Stack elements on small screens
  }
}

.select {
  margin-right: 0.5rem; // Space between the select and input
  flex: 1; // Allow the select to grow
  min-width: 120px; // Minimum width for the select
  padding: 0.5rem; // Padding for better touch targets
  border: 1px solid #ccc; // Border
  border-radius: 4px; // Rounded corners
}

.input {
  flex: 3; // Allow the input to grow more than the select
  padding: 0.5rem; // Padding for better touch targets
  border: 1px solid #ccc; // Border
  border-radius: 4px; // Rounded corners
  min-width: 150px; // Minimum width for input
}

.submitButton {
  margin-left: 0.5rem; // Space between the input and button
  background-color: #0070f3; // Change to your theme color
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem; // Padding for better touch targets
  cursor: pointer;

  &:hover {
    background-color: #005bb5; // Darken color on hover
  }
}
